@media (min-width: 768px) and (max-width: 1024px) {
    html {
        font-size: 13px;
    }

    .arrowspan {
        display: none;
    }

    .cardHeading {
        font-size: 2rem;
    }
    .swimmerFemale{
        height:24rem;
    }
    .locationHeading,
    .levelHeading,
    .registerHeading,
    .franchiseHeading {
        width: 96%;
    }

    .topContainerContent {
        margin-top: 6%;
    }

    .cardpara {
        width: 100%;
        word-break: break-all;
        font-size: .9rem;
    }



    .cardIndividual:hover .icon li a {
        top: 20%;
        opacity: 1;
    }

    .customerCard {
        height: 34rem;
    }

    .front,
    .frontThree {
        height: 100%;
    }

    .reviewUserImg {
        width: 9rem;
    }

    .schoolRankContainer {
        background-image: none;
    }

    .swimLessons {
        padding-top: 4%;
    }

    .swimRank {
        padding-top: 8%;
    }

    .swimmers {
        height: 27rem;
    }

    .homeitem {
        color: black;
        background-image: none;
    }

    .topContainer {
        margin-top: 5%;

    }

}

/* This part was about media query for tablets as some alignment and position neede to be fixed  */
